<a href="https://colab.research.google.com/github/jeongsangryeol/Sang-Ryeol/blob/master/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

In [11]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [96]:
df.loc[0:2, 'Genre']

0      pop, rock, R&B
1           hard rock
2    progressive rock
Name: Genre, dtype: object

In [100]:
df.iloc[2]

Artist                                             Pink Floyd
Album                               The Dark Side of the Moon
Released                                                 1973
Length                                                0:42:49
Genre                                        progressive rock
Music Recording Sales (millions)                         24.2
Claimed Sales (millions)                                   45
Released.1                                          01-Mar-73
Soundtrack                                                NaN
Rating                                                      9
Name: 2, dtype: object

In [0]:
x = df[['Released', 'Music Recording Sales (millions)']]

In [16]:
x

   Released  Music Recording Sales (millions)
0      1982                              46.0
1      1980                              26.1
2      1973                              24.2
3      1992                              27.4
4      1977                              20.6
5      1976                              32.2
6      1977                              20.6
7      1977                              27.9

In [61]:
y = x.loc[(df['Released']>1979) & (df['Music Recording Sales (millions)']>24),:]
y

   Released  Music Recording Sales (millions)
0      1982                              46.0
1      1980                              26.1
3      1992                              27.4

In [0]:
z = df[['Released', 'Music Recording Sales (millions)','Genre']]

In [59]:
w = z.loc[[0,1,3]]
w

   Released  Music Recording Sales (millions)           Genre
0      1982                              46.0  pop, rock, R&B
1      1980                              26.1       hard rock
3      1992                              27.4  R&B, soul, pop

In [95]:
contains_rock = w['Genre'].str.contains("rock")
subset_df = w[contains_rock]
subset_df

   Released  Music Recording Sales (millions)           Genre
0      1982                              46.0  pop, rock, R&B
1      1980                              26.1       hard rock